:root {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  margin: 0 auto;
  max-width: 59.25rem;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 3rem 1.5rem;
  position: relative;
  justify-content: flex-start;
  min-height: 58rem;
}

header {
  padding: 0 1rem 0 1rem;
  justify-self: unset;
  height: 4rem;
  width: 100%;
  font-weight: 600;
  letter-spacing: 0.37rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.top-bar {
  width: 100%;
  text-align: center;
}

main h1 {
  height: 1.339875rem;
  margin: 0 0 0.25rem 0;
}

main h2 {
  font-size: 0.8rem;
  font-weight: 200;
}

section {
  width: 100%;
  margin: 2.5rem 0 2.5rem 0;
}

.cart-item {
  width: 100%;
  display: flex;
  margin-bottom: 1.5rem;
}

.cart-item img {
  width: 4.5rem;
}

.flex {
  width: 100%;
  margin: 0 0 0 0.625rem;
  display: flex;
  flex-direction: column;
}

.name-and-cross {
  display: flex;
  flex-direction: row;
}

.name {
  width: 100%;
  font-size: 0.8rem;
  height: 1.625rem;
  margin-top: 1rem;
}

.name-and-cross img {
  width: 2.125rem;
  height: 2.125rem;
  padding: 0.75rem;
  align-self: flex-end;
}

.details {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin: 0.625rem 0.625rem 0 0;
  font-size: 0.8rem;
  font-weight: 200;
  text-align: right;
}

.details p {
  font-size: 0.8rem;
  font-weight: 200;
  width: 4.375rem;
  text-align: right;
}

.details img {
    display:none;
    width: 2.125rem;
    height: 2.125rem;
    padding: 0.75rem;
    align-self: flex-end;
}

.selector {
  display: flex;
  justify-content: space-around;
  width: 4.375rem;
}

.size-select {
  width: 10rem;
  font: 500;
}

select {
  width: 4rem;
  text-align: center;
  text-align-last: center;
  font-weight: 500;
  font-size: 1rem;
}
select option {
  font-weight: 500;
  text-align: center;
}

.checkout {
  width: 100%;
  display: flex;
  text-align: right;
  font-size: 0.8rem;
  justify-content: flex-end;
}

.amount {
  margin-left: 2rem;
}

.checkout button {
  display: none;
}

.footer-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  color: white;
  background-color: #172c50;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  align-self: center;
  text-align: center;
}

@media (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 58rem;
  }

  header {
    margin-bottom: 4.5rem;
  }

  header a:nth-child(1) {
    visibility: hidden;
  }

  .top-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:3rem;
  }

  .flex {
    flex-direction: row;
    margin-left: 1.5rem;
    align-items: center;
    justify-content: space-between;
  }

  .name-and-cross {
    height:100%;
    display: flex;
    flex-direction: row;
  }
  .name {
    width: 100%;
    margin-top: 1.5rem;
    margin-right: 2.875rem;
    justify-self: flex-start;
  }

  .name-and-cross img {
    display: none;
  }

  .details {
    height:100%;
    justify-content: center;
    align-items: center;
    margin:unset;
  }

  .details p {
    min-width: 6.25rem;
    text-align: left;
  }

  .selector {
    justify-content: flex-start;
    width: 10rem;
  }

  .details img {
    width: 2.125rem;
    height: 2.125rem;
    padding: 0.75rem;
    align-self: center;
    display: unset;
  }

  .size-select {
    width: 10rem;
    font: 500;
  }

  .selector label {
    margin:0 0 0 1rem;
  }


select {
  width: 2rem;
  text-align: center;
  text-align-last: center;
}

.checkout {
  width: 100%;
  display: flex;
  text-align: right;
  font-size: 0.8rem;
  justify-content: flex-end;
  align-items: center;
  font-weight: 600;
  margin-top: 1rem;
}

.amount {
  margin: 0 4rem 0 2rem;
}

.checkout button {
  display: unset;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.5rem 3.5rem 0.5rem 3.5rem;
  border:0.125rem solid black;
  margin-right: 1rem;
}
  .footer-btn {
    display: none;
  }
}
