:root {
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  padding: 0 1rem 0 1rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 6px;
  font-weight: 600;
}

main {
  padding: 0 1.5rem 3rem 1.5rem;
}

.top-bar {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

.top-bar h1 {
  margin-bottom: 0.25rem;
}

.top-bar h2 {
  padding-top: 0.37rem;
  font-size: 0.7rem;
  font-weight: 200;
}

.info {
  font-size: 0.8125rem;
  font-weight: 600;
  margin: 0.674375rem 0 0.674375rem 0;
}

.input-row {
  height: 4.75rem;
  display: flex;
  align-items: center;
}

::placeholder {
  font-size: 0.9rem;
  color: gray;
  opacity: 1;
}

input {
  height: 2.125rem;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  border-bottom: 0.05rem solid rgb(193, 189, 189);
}

.state-postal {
  width: 100%;
  display: flex;
  gap: 0.4rem;
}

.state {
  width: 50%;
}

.postal-code {
  width: 50%;
}

.country {
  height: 4.688rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.country p {
  height: 1.25rem;
  font-size: 0.75rem;
}

.selector {
  padding: 0.5rem 0 0.5rem 0;
  width: 100%;
  font-weight: 400;
  font-size: 0.92rem;
  border-bottom: 0.05rem solid rgb(193, 189, 189);
}

.tickbox {
  height: 1.25rem;
  margin: 1.75rem 0 1.75rem 0;
  display: flex;
  align-items: center;
}

#billing {
  height: 1rem;
  width: 1rem;
  border: 0.2rem;
}

#billing-label {
  font-size: 0.75rem;
  margin-left: 0.7rem;
}

.card-details {
  display: flex;
  flex-direction: column;
}

#card-label {
  width: 100%;
  text-align: left;
  font-size: 0.8rem;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.4rem;
}

#selector-month {
  width: 33%;
  height: 2.065rem;
}

#selector-year {
  width: 33%;
  height: 2.065rem;
}

#cvv {
  width: 33%;
  height: 2.065rem;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.price {
  text-align: right;
}

.checkout-total {
  margin: 2rem 0 5.5rem 0;
}

.mobile-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  color: white;
  background-color: #172c50;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  align-self: center;
  text-align: center;
}

.desktop-footer {
  display: none;
}

.order {
  display:none;
}

@media (min-width: 768px) {
  .menu-icon {
    visibility: hidden;
  }

  .top-bar {
    margin: 4rem 0 2.75rem 0;
  }

  main {
    margin: auto;
    margin-bottom: 3rem;
    align-self: center;
    max-width: 59.25rem;
  }

  .checkout {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  .account {
    width: 45%;
  }
  .checkout-total {
    margin: 2rem 0 1.75rem 0;
  }
  
  .order {
    display: unset;
    width: 12rem;
    height:2.25rem;
    font-weight: 400;
    text-align: center;
    border: 0.15rem solid black;
    margin-bottom: 3.75rem;
  }

  .mobile-footer {
    display: none;
  }

  .desktop-footer {
    display: unset;
    height: 4.25rem;
    width: 100%;
    margin: 1.25rem 0 0 0;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
  }
  
  #made-by {
    color: rgb(97, 91, 91);
    font-weight: 200;
  }

  #demo {
    color: white;
    height: 2.25rem;
    width: 8rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}