:root {
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  padding: 0 1rem 0 1rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 6px;
  font-weight: 600;
}

.top-nav {
  display: none;
}

.active-category {
  padding: 0 0 0.5rem 0;
  border: 0.2rem solid;
  border-color: black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.display-details {
  width: 100%;
  text-align: center;
}

.display-category {
  font-size: 0.85rem;
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}

.count {
  font-size: 0.68rem;
  font-weight: 200;
}

.inventory {
  margin: 0 1.5vw 0 1.5vw;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-wrap: wrap;
}

.product {
  width: 46%;
  height: auto;
  margin: 0 2% 0 2%;
  text-align: center;
}

.product img {
  margin: 10% 0 6% 0;
  max-width: 100%;
}

.title {
  font-size: 0.8rem;
  font-weight: 500;
}

.price {
  font-size: 0.8rem;
  font-weight: 200;
}
footer {
  height: 4.25rem;
  width: 100%;
  margin: 1.25rem 0 0 0;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

#made-by {
  color: rgb(97, 91, 91);
  font-weight: 200;
}

#demo {
  color: white;
  height: 2.25rem;
  width: 8rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .top-nav {
    display: flex;
    height: 4.125rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
  }

  .top-nav ul {
    width: 36rem;
    display: flex;
    justify-content: space-evenly;
  }

  .banner {
    height: 20rem;
    background-image: url("../images/mens_outerwear.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .display-details {
    width: 100%;
    margin: 2rem 0 1rem 0;
    text-align: center;
  }

  .product {
    width: 31%;
    height: auto;
    margin: 0 1% 0 1%;
    text-align: center;
  }
}
