:root {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  padding: 0 1rem 0 1rem;
  justify-self: unset;
  height: 4rem;
  width: 100%;
  font-weight: 600;
  letter-spacing: 0.37rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.back-icon {
  padding: 0 0 0 1rem;
}

.back-icon img {
  height: 1.2rem;
  width: 1.2rem;
}

.top-nav ul {
  height: 4.125rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 0.75rem;
}

.top-nav {
  display: none;
}

section {
  width: 80%;
  margin: 0 10% 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: fit-content;
}

.image img {
  height: 100%;
  width: 100%;
}

.details {
  width: 100%;
  height: auto;
  margin: 2rem 0 2rem 0;
  padding: 0 1.5rem 0 1.5rem;
}

.name {
  font-size: 1.15rem;
}

.price {
  margin: 0.75rem 0 2rem 0;
  font-size: 0.8rem;
  font-weight: 200;
}

.pickers {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pickers label {
  width: 6rem;
  font-size: 0.8rem;
  font-weight: 200;
}

.pickers select {
  width: calc(100%);
  padding: 1rem 0 1rem 0;
}

hr {
  border: 0.1rem solid rgb(223, 211, 211);
}

.description {
  height: auto;
  width: 100%;
  margin: 2rem 0 8rem 0;
}

.description h1 {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.text {
  font-size: 0.8125rem;
  line-height: 1.2;
  font-weight: 200;
}

.add-to-cart-btn {
  display: none;
  width: 11.63375rem;
  height: 2.25rem;
  align-self: center;
  text-align: center;
  justify-self: flex-start;
  border:0.15rem solid black;
  font-weight: 300;
  font-size: 0.9rem;
}

.footer-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  color: white;
  background-color: #172c50;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  align-self: center;
  text-align: center;
}

@media (min-width: 768px) {
  main {
    position: unset;
  }

  .top-nav {
    display: unset;
  }

  section {
    width: 95%;
    margin: 0 2.5% 0 2.5%;
  }

  section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .image {
    max-width: 37.5rem;
    width: 100%;
    height: fit-content;
  }

  .image img {
    margin: 0 0 2rem 0;
    max-width: 37.5rem;
    height: 100%;
    width: 100%;
  }

  .details {
    align-self: flex-start;
    max-width: 25rem;
    max-height: 37.5rem;
    height: auto;
    margin: 4rem 0 4rem 0;
    padding: unset;
  }

  .name {
    font-size: 1.35rem;
  }

  .price {
    font-size: 1rem;
  }

  .description{
    margin: 2rem 0 2rem 0;
  }

  .description h1 {
    font-size: 0.85rem;
  }

  .text {
    font-size: 0.8125rem;
    line-height: 1.5;
  }

  .add-to-cart-btn {
    display: unset;
  }

  .footer-btn {
    position: unset;
    display: none;
  }
}
