/* mobile first approach */
:root {
  font-size: 16px;
}

body {
  min-height: 81.6975rem;
  font-family: "Poppins", sans-serif;
}

.top-nav {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  padding: 0 1rem 0 1rem;
  justify-self: unset;
  height: 4rem;
  width: 100%;
  font-weight: 600;
  letter-spacing: 0.37rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  margin: 0 0 2.5rem 0;
  height: 22.1475rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.category h2 {
  font-size: 1rem;
}

.category img {
  height: 15rem;
  object-fit: cover;
}

.shop-now-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5625rem;
  width: 10.595625rem;
  border: 2px solid black;
}

.category-3and4 {
  display: flex;
  max-width: 67.5rem;
}

footer {
  height: 4.25rem;
  width: 100%;
  margin: 1.25rem 0 0 0;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

#made-by {
  color: rgb(97, 91, 91);
  font-weight: 200;
}

#demo {
  color: white;
  height: 2.25rem;
  width: 8rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  body {
    min-height: 105.3225rem;
  }

  header .menu-icon {
    visibility: hidden;
  }

  .top-nav {
    display: flex;
    height: 4.125rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
  }

  .top-nav ul {
    width: 31.31125rem;
    display: flex;
    justify-content: center;
    gap: 1.05125rem;
  }

  .top-nav ul li {
    padding: 0.5625rem 0.3125rem 0.5625rem 0.3125rem;
  }

  .category {
    height: 28.1475rem;
    display: flex;
    gap: 2.25rem;
  }

  .category img {
    min-height: 19.585rem;
    object-fit: cover;
  }

  .category-3and4 {
    display: flex;
    max-width: 88.131875rem;
  }
}
